<template name="InterestedList">
    <br>
    <div class="ad col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">
                <h3 class="panel-title">{{_ "interested-title"}}</h3>
            </div>
            <div class="panel-body">
                {{#if isReady "oneAd"}}
                    {{#if isReady "interested"}}
                        {{#each getInterested}}
                            {{> Interested}}
                        {{/each}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="Interested">
    <div class="col-md-9">
        <div class="ratings">
            Allan de Queiroz
        </div>
        <div class="ratings" style="vertical-align: bottom">
            <p class="pull-left">{{_ "card-user"}}&nbsp;&nbsp;</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <button type="button" class="btn btn-primary pull-right">Contratar</button>
        </div>
    </div>
    <br>
</template>