<template name="Ad">

    <br>
    <div class="ad col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
        <div class="panel panel-default" style="text-align: center">
            <div class="panel-heading">
                <h3 class="panel-title">{{_ "ad-title"}}</h3>
            </div>
            <div class="panel-body">
                <div class="ad-form">
                    <div class="form-group col-md-6 col-xs-12">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            <input type="text" class="ad-title form-control" placeholder="{{_ "ad-title-ph"}}" maxlength="25">
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <div class="input-group">
                            <div class="input-group-addon">{{_ "ad-currency"}}</div>
                            <input type="text" class="ad-value form-control" placeholder="{{_ "ad-value-ph"}}" maxlength="11">
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-xs-12">
                        <textarea class="form-control" id="ad-content" rows="3" maxlength="140"></textarea>
                    </div>
                    <br>
                    <h1>{{_ "ad-where"}}</h1>
                    <div class="form-group col-md-offset-4 col-md-4 col-xs-12">
                        <button type="button" class="btn btn-primary btn-md btn-block btn-my-place">{{_ "ad-my-place-btn"}}</button>
                    </div>
                 </div>
                 <div class="address-form">
                    <div class="form-group col-xs-12 div-autocomplete">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-map-marker fa-icon"></i></div>
                            <input type="text" class="autocomplete form-control" id="autocomplete" placeholder="{{_ "ad-find-btn"}}">
                        </div>
                    </div>
                    {{>AddressComponent}}
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="register col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 connect-buttons">
        <div class="form-group col-xs-12">
            <button type="button" class="btn btn-primary btn-md btn-block btn-annouce">{{_ "ad-publish-btn"}}</button>
        </div>
    </div>
</template>