<template name="MyCard">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail" style="overflow: visible;">
            {{#if hasInteresting}}
                <button type="button" class="btn btn-danger btn-circle btn-interesting">{{howManyInterested}}</button>
            {{/if}}
            <div class="caption">
                <h4 class="pull-right">{{_ "mycard-currency"}}{{this.value}}</h4>
                <h4><a href="#">{{this.title}}</a>
                </h4>
                <p>{{this.content}}</p>
            </div>
            <div class="ratings">
                <br/>
                <br/>
            </div>
            <div class="interest">
                <button type="button" class="btn btn-primary interest-btn-web mycard-details">{{_ "mycard-details"}}</button>
                <button type="button" class="btn btn-primary interest-btn-web mycard-end">{{_ "mycard-end"}}</button>
            </div>
        </div>
    </div>
</template>
